body {

    border: 1px solid black;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 600px;
}

.nav-center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

h1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

main {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    padding: 20px;
    padding-left: 0;
    padding-bottom: 0;
    margin: 0 auto;
}

article {
    display: flex;
    flex-flow: column nowrap;
    width: 80%;
    border-top: 1px solid black;
    margin: 0 auto;
    padding-right: 10px;
}

aside {
    display: flex;
    flex-flow: column nowrap;
    width: 20%;
    border-top: 1px solid black;
    border-left: 1px solid black;
    padding-left: 10px;
}

h2 {
    text-align: left;
}

h3 {
    text-align: center;
}

article h2, article p {
    padding-left: 20px;
}



